body {
    background-color: burlywood;
}
ul {
    list-style-type: none;
    float: left;
    text-align: center;
}
ul > li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    width: 100px;
    background-color: silver;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
}
ul > li > a {
    padding: 5px;
    color: red;
    text-decoration: none;
}
ul > li > a:hover {
    color: #444;
    cursor: default;
}
ul > li:hover > a {
    color: #444;
    cursor: default;
}
ul > li ul {
    display: none;
    position: absolute;
    padding: 0;
    left: 0;
    top: 20px;
    width: 100px;
    text-align: center;
}
ul li:hover > ul {
    display: block;
}
ul li ul ul {
    left: 200px;
    top: -1px;
}
ul li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    height: auto;
}